<!DOCTYPE html>
<html>
    <head>
        <title>Clinic Room</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
        <script src="https://checkout.stripe.com/checkout.js"  defer></script>
        <script>
            var stripePublicKey = '<%= stripePublicKey %>'
        </script>
        <script src="store.js" defer></script>
    </head>
    <header>
            <div class="overlay">
               <h1> A Complete Note Set For RACGP Fellowship Exam</h1>
           </div>
</header>
    <body>
        <h1>NOTE SETS</h1>
        <header class="main-header">
            
            <nav class="main-nav nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">Test</h1>
        </header>
        <div class="padding1" >
         <a href="/login">
            <button type="button"  class="btn btn-link"><b>Login</b></button>
          </a>
          </div>
        <section class="container content-section">
            <%# <h2 class="section-header">MUSIC</h2> %>
            <div class="shop-items">
                <% items.music.forEach(function(item){ %>
                    <div class="shop-item" data-item-id= "<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD </button>
                        </div>
                    </div>
                <% }) %>
        </section>


        <section class="container content-section">
            <%# <h2 class="section-header">MERCH</h2> %>
            <div class="shop-items">
               <% items.merch.forEach(function(item){ %>
                    <div class="shop-item" data-item-id= "<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                         <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100 %></span>
                            <button class="btn btn-primary shop-item-button" type="button">ADD</button>
                        </div>
                    </div>
                <% }) %>


        </section>
        <section class="container content-section">
            <%# <h2 class="section-header">CART</h2> %>
             <div class="cart-row">
                <span class="cart-item cart-header cart-column">Book Set</span>
                <span class="cart-price cart-header cart-column">Price</span>
                
            </div> 
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
                <%# <p>  </p> %>
             
        </section>
       
      
    </body>
</html>